
<style>
    table {
        border-collapse: collapse;
    }

    table, td, th {
        border: 1px solid black;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Ваша корзина</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h3>Всього продуктів : {{length()}}</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h3>Загальна сума : {{totalPrice()}}</h3>
        <br />
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <table>
            <tr>
                <td class="col-lg-3">Назва</td>
                <td class="col-lg-3">Ціна</td>
                <td class="col-lg-3">Кількість</td>
                <td class="col-lg-3">Видалити</td>
            </tr>
            <tr ng-repeat="item in products()">
                <td class="col-lg-3">{{item.product.Name}}</td>
                <td class="col-lg-3">{{item.product.Price}}</td>
                <td class="col-lg-3">{{item.count}}</td>
                <td class="col-lg-3 btn btn-default" ng-click="delete(item.product)">Видалити</td>
            </tr>
        </table>
        <br />
        <br />
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="btn btn-default pull-left" ng-click="deleteAll()"> Очистити </div>
        <div class="btn btn-default pull-right" ng-click="order()"> Замовити </div>
    </div>
</div>
