<div class="row">
    <div class="col-lg-12">
        <p>
            <div class="page-header">
                <span class="header-span">Основні товари</span> 
                <span class="pull-right"> Сортувати по : 
                    <select ng-model="sortItem" ng-change="sortByItem()">
                        <option value="Price">Ціні</option>
                        <option value="Name">Імені</option>
                    </select> 
                і :
                    <select ng-model="sortOrder" ng-change="changeSortOrder()">
                        <option value="">зростанню</option>
                        <option value=" desc">спаданню</option>
                    </select>
                </span> 
            </div>
        </p>
    </div>
</div>

<div class="row">
    <div ng-repeat="item in products" class="col-lg-3 col-md-4 col-sm-6 col-xs-12 portfolio-item">
        <div ng-click="detail(item.product)"><img class="img-responsive img-product" ng-src="{{item.product.ImageAddress}}" alt=" "></div>
        <div class="caption">
            <p>{{item.product.Name}} <span> {{item.product.Price | currency:"₴"}}</span> </p>
            <div class="btn btn-default" ng-click="detail(item.product)"><img class="img-responsive img-icon-small" ng-src="images/details.png" alt=""></div>
            <div class="btn btn-default" ng-click="addToCart(item.product, item.count)"><img class="img-responsive img-icon-small" ng-src="images/buy.png" alt=""></div>
            <input class="counter" ng-model="item.count" type="number" name="quantity" min="1" max="99">
        </div>
    </div>
</div>

<div class="row bottom-row">
    <div class="span12 text-center">
        <pagination total-items="totalItems" ng-model="currentPage" items-per-page="numPerPage"
                    direction-links="true" boundary-links="true"
                    first-text="Перша" last-text="Остання" previous-text="Попередня" next-text="Наступна">
        </pagination>
    </div>
</div>
